<html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<body>
  
<div style="text-align: center">
    <h1 style="color:white">Witaj na sekretnej stronie, gdzie dowiesz się ile jest aktywnych przypadków koronawirusa w Polsce</h1>
</div>

<p></p>

<div style="text-align: center">
    <img src="http://localhost:5000/plot.png" alt="wykres" >
</div>

<p></p>

  <div id="logout">
    <a href=/logout>
        <div><label class="login-field-icon fui-lock" for="login-pass"></label></div>
        <input type="submit" value="Log Out" class="btn btn-primary btn-large btn-block">
    </a>
  </div>
</body>

</html>



